{% load static %}
{% load get_menu_json %}
{% get_user_menu as USER_MENU %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/site_base.css' %}?version={{ PROJECT_VERSION.commit }}" />
{% endblock %}

<style>
    #{{ id|default:'' }}-bottom {
        display: none;
        margin-bottom: 0;
    }
    @media (max-width: 748px) {
        #{{ id|default:'' }} .gn-menu-content-center > * {
            display: none;
        }
        #{{ id|default:'' }}-bottom {
            display: flex;
            width: calc(100% - 16px);
            margin: 8px;
        }
    }
</style>

<div>
    <nav id="{{ id|default:'' }}" class="gn-menu gn-menu-symmetric">
        <div class="gn-menu-container">
            <div class="gn-menu-content">
                <div class="gn-menu-content-left">
                    {% block left_menu %}
                    <ul class="gn-menu-list">
                        <li>
                            <a href="/" style="display: flex; align-items: flex-start; gap: 8px">
                                <img src="{% static "/img/amsterdam-logo.svg" %}">
                                <div style="color:  var(--project-color); font-size: 13px; line-height: 1; font-weight: 600;">
                                    <div>City of</div>
                                    <div>Amsterdam</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    {% endblock %}
{#                    {% include './topbar_left.html' %}#}
                </div>
                <div class="gn-menu-content-right">
                    {% block right_menu %}
                    <ul class="gn-menu-list">
                        {% block language_selector %}
                            {% include './language_selector.html' with variant='project' align_right=True %}
                        {% endblock %}
                        {% for menu_item in USER_MENU %}
                            {% include './menu_item.html' with variant='project' menu_item=menu_item align_right=True %}
                        {% endfor %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </nav>
    <div id="{{ id|default:'' }}-bottom">
        {% block bottom_menu %}
            {% include './search_bar.html' with search_bar_id='gn-search-bar-bottom' %}
        {% endblock %}
    </div>
</div>
<div style="background: #eceded">
     <nav id="gn-brand-subnavbar" class="gn-menu gn-menu-symmetric">
        <div class="gn-menu-container">
            {% include './topbar_left.html' %}
        </div>
        <div class="gn-menu-content-center" style="margin-right: 8px">
            {% block center_menu %}
                {% include './search_bar.html' with search_bar_id='gn-search-bar' %}
            {% endblock %}
        </div>
     </nav>
</div>
{% block extra_script %}
    <script type="text/javascript">
        (function() {
            function manageUrlChange() {
                var signInElement = document.getElementById("sign-in");
                if (signInElement){
                    if (window.location.pathname === '/account/login/'){
                        signInElement.setAttribute("href", window.location.href)
                    }
                    else {
                        var href = signInElement.getAttribute("href").split("next=")[0];
                        var url_parts = window.location.href.split(window.location.pathname);
                        var path_name = encodeURIComponent(window.location.pathname + url_parts[url_parts.length-1]);
                        signInElement.setAttribute("href", href.concat("next=".concat(path_name)));
                    }
                }
            }
            window.addEventListener('DOMContentLoaded', manageUrlChange);
            window.addEventListener('hashchange', manageUrlChange, false);
        })();
    </script>
{% endblock extra_script %}