{% extends "geonode-mapstore-client/snippets/head.html" %}
{% load static %}

{% block favicon %}
    {% if site_preferences.favicon %}
        <link rel="shortcut icon"
              href="{{ site_preferences.favicon }}"/>
    {% else %}
        <link rel="shortcut icon"
              href="{% static 'geonode/img/favicon.ico' %}"/>
    {% endif %}

    <style>
      :root {
        --project-color: {{ site_preferences.main_color }};
        --project-secondary-color: {{ site_preferences.secondary_color }};
        --gn-sub-navbar-color: {{ site_preferences.sub_navbar_color }};
      }
    </style>
{% endblock favicon %}