{% load i18n %}
<div id="gn-hero" class="gn-hero">
    <div style="flex-grow: 1; width: 100%"></div>
    <div class="jumbotron">
        <div class="gn-hero-description">
            <h1>{% trans 'Kartoza GeoNode' %}</h1>
            <p>{% trans 'Kartoza GeoNode is a GeoNode web-based application, and platform for developing geospatial information systems (GIS) and for deploying spatial data infrastructures (SDI).' %}</p>
            <a href="https://kartoza.com/" target="_blank">
                <button type="button" class="btn btn-sm btn-primary">
                    <span>{% trans 'Visit Kartoza Website' %}</span>
                </button>
            </a>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
    <div style="flex-grow: 1; width: 100%"></div>
</div>